<mat-card>
    <mat-card-content>
      <mat-card>
        <mat-card-content>
          <mat-card-title>Cabezales</mat-card-title>
          <mat-card-subtitle><code>New</code>Contamos con una flotilla de 50 cabezales</mat-card-subtitle>
          <div class="row">
            <div class="col-md-3">
                <img class="img-responsive rounded" src="assets/images/background/cabezal.jpg"  alt="Image">
            </div>
            <div class="col-md-3">
              <br/>
              <br/>
              <br/>
              <button mat-raised-button color="warn" >Rentar</button>
            </div>
          </div>
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>Mercedes Benz</mat-chip-option>
            <mat-chip-option>Freightliner</mat-chip-option>
            <mat-chip-option color="accent" selected>Kenworth</mat-chip-option>
            <mat-chip-option color="warn">International</mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>

      <!-- Chasises -->
      <mat-card>
        <mat-card-content>
          <mat-card-title>Chasises</mat-card-title>
          <mat-card-subtitle><code>New</code>Chassis-porta Contenedor de todos los tamaños</mat-card-subtitle>
          <div class="row">
            <div class="col-md-3">
                <img class="img-responsive rounded" src="assets/images/background/portacontenedor.png"  alt="Image">
            </div>
            <div class="col-md-3">
              <br/>
              <br/>
              <br/>
              <button mat-raised-button color="warn" >Rentar</button>
            </div>
          </div>
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>Mercedes Benz</mat-chip-option>
            <mat-chip-option>Freightliner</mat-chip-option>
            <mat-chip-option color="accent" selected>Kenworth</mat-chip-option>
            <mat-chip-option color="warn">International</mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>  

     <!-- Chasises -->
     <mat-card>
      <mat-card-content>
        <mat-card-title>Furgones secos</mat-card-title>
        <mat-card-subtitle><code>New</code>Furgones secos de diferenes tamaños</mat-card-subtitle>
        <div class="row">
          <div class="col-md-3">
              <img class="img-responsive rounded" src="assets/images/background/contenedor.jpg"  alt="Image">
          </div>
          <div class="col-md-3">
            <br/>
            <br/>
            <br/>
            <button mat-raised-button color="warn" >Rentar</button>
          </div>
        </div>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>20 pies</mat-chip-option>
          <mat-chip-option>40 pies</mat-chip-option>
          <mat-chip-option color="accent" selected>45 pies</mat-chip-option>
          <mat-chip-option color="warn">55 pies</mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>  
  </mat-card-content>
</mat-card>
