<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div class="row">
	<!-- Card column -->
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<mat-toolbar color="primary">
					<span>Nombre de Integrantes</span>
					<span fxFlex class="ml-auto"></span>
					<!-- <button href="#" mat-icon-button>
					  <mat-icon>search</mat-icon>
					</button> -->
					<button href="#" mat-icon-button>
					  <mat-icon>more_vert</mat-icon>
					</button>
				  </mat-toolbar>
				  <mat-toolbar>
					<mat-toolbar-row>
					  <span>Luis Alejandro Ajucum Santos</span>
					</mat-toolbar-row>
			  
					<mat-toolbar-row>
					  <span>Sharon Emperatriz Granja Rodas</span>
					</mat-toolbar-row>
					<mat-toolbar-row>
					  <span>Cristian Elisandro Salvatierra Contreras</span>
					</mat-toolbar-row>
					<mat-toolbar-row>
					  <span>Rodolfo Alejandro Shetemul Teletor</span>
					</mat-toolbar-row>
					<mat-toolbar-row>
					  <span>Diego Samuel Pérez Chavajay</span>
					</mat-toolbar-row>
				  </mat-toolbar>
			</mat-card-content>
		</mat-card>    
	</div>
</div>

